<?php
$this->addStartpages(array(
	'http://localhost:8888/',
));

$this->blacklist(array(
	'http://localhost:8888/blacklistedpage.php',
));

$this->setPreScript(function($client){
	$client->testvalue = 123;
});

$this->addRules(array(
	new Scanner\Rule\HasTokenField,
	new Scanner\Rule\ModifyingTokenCauses403,
));

